<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>卡片打印选项</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="well" style="padding:2rem;text-align: center;">
    <h4 style="text-align: center;padding:1rem;font-weight: bold;">卡片打印设置</h4>
    <div class="row" style="padding:0 30%">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">图片路径</span>
            </div>
            <input id="path" type="text" class="form-control" placeholder="图片路径" aria-label="图片路径">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">卡背路径(如果填写了卡背路径，会排版成正反打)</span>
            </div>
            <input id="backPath" type="text" class="form-control" placeholder="卡背路径" aria-label="卡背路径">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">图片数量</span>
            </div>
            <input id="imgNumber" value="200" type="text" class="form-control" placeholder="图片数量" aria-label="图片数量">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">图片前缀</span>
            </div>
            <input id="imgPrefix" value="" type="text" class="form-control" placeholder="图片前缀" aria-label="图片前缀">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">起始图片号码</span>
            </div>
            <input id="start" value="1" type="text" class="form-control" placeholder="起始图片号码" aria-label="起始图片号码">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">每行张数</span>
            </div>
            <input id="numberPerRow" value="3" type="text" class="form-control" placeholder="每行张数" aria-label="每行张数">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">图片宽度(mm)</span>
            </div>
            <input id="width" type="text" value="63" class="form-control" placeholder="图片宽度" aria-label="图片宽度">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">图片高度(mm)</span>
            </div>
            <input id="height" type="text" value="88" class="form-control" placeholder="图片高度" aria-label="图片高度">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">打印份数</span>
            </div>
            <input id="times" value="1" type="text" class="form-control" placeholder="打印份数" aria-label="打印份数">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">图片间距（带单位，如1px或者1mm）</span>
            </div>
            <input id="lineWidth" value="1px" type="text" class="form-control" placeholder="图片间距" aria-label="图片间距">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">反排</span>
            </div>
            <div class="radio-group" style="padding-top:5px;padding-left:2rem">
                <label class="radio-inline">
                    <input type="radio" name="reverse" checked value="0">&nbsp;否
                </label>
                <label class="radio-inline" style="margin-right:1rem">
                    <input type="radio" name="reverse" value="1">&nbsp;是
                </label>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">从云端打印模板直接打印?</span>
            </div>
            <div class="radio-group" style="padding-top:5px;padding-left:2rem">
                <label class="radio-inline" style="margin-right:1rem">
                    <input type="radio" name="fromHistory" value="1">&nbsp;是
                </label>
                <label class="radio-inline">
                    <input type="radio" name="fromHistory" checked value="0">&nbsp;否
                </label>
            </div>
            <div class="input-group" style="padding: 1rem 0">
                <select class="custom-select" id="history" style="display: none">
                </select>
            </div>
        </div>
    </div>
    <button id="submit" type="button" class="btn btn-primary">确定，去预览</button>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script language="javascript">

    $(function(){
        $("[name='fromHistory']").click(function(){
            if($(this).val() == 1) {
                $.ajax({
                    url: 'get-keys',
                    data: {},
                    dataType: "json",
                    success: function (res) {
                        if (res != null && res.length > 0) {
                            $("#history").show();
                            var html = "";
                            for (var i = 0; i < res.length; i++) {
                                html += '<option value="' + res[i] + '">'+res[i]+'</option>';
                            }
                            $("#history").html(html);
                        }
                    },
                    error: function (e) {
                        console.log('error...');
                        //$table.hideLoading();
                    }
                });
            } else {
                $("#history").hide();
                $("#history").html("");
            }
        });
    });

    $("#submit").click(function () {
        var path = $("#path").val();
        var backPath = $("#backPath").val();
        var imgNumber = $("#imgNumber").val();
        var numberPerRow = $("#numberPerRow").val();
        var imgPrefix = $("#imgPrefix").val();
        var width = $("#width").val();
        var height = $("#height").val();
        var times = $("#times").val();
        var lineWidth = $("#lineWidth").val();
        var start = $("#start").val();
        var history = $("#history").val();
        var reverse = $("[name='reverse']:checked").val();
        if (path == '') {
            if(typeof(history) == 'undefined' || history == null) {
                alert("请输入文件路径");
                return;
            }
        }
        if (imgNumber == '') {
            alert("请输入图片数量");
            return;
        }
        if (numberPerRow == '') {
            alert("请输入每行张数");
            return;
        }
        if (width == '') {
            alert("请输入图片宽度");
            return;
        }
        if (height == '') {
            alert("请输入图片高度");
            return;
        }
        if (times == '') {
            alert("请输入打印份数");
            return;
        }
        if (start == '') {
            alert("起始图片号码");
            return;
        }
        var openUrl = "auto-printer" +
            "?path=" + encodeURI(path) +
            "&backPath=" + encodeURI(backPath) +
            "&imgNumber=" + imgNumber +
            "&start=" + start +
            "&numberPerRow=" + numberPerRow +
            "&imgPrefix=" + encodeURI(imgPrefix) +
            "&width=" + width +
            "&height=" + height +
            "&times=" + times +
            "&reverse=" + reverse +
            "&lineWidth=" + lineWidth;
        if(typeof(history) != 'undefined' && history != null) {
            openUrl += "&history=" + encodeURI(history);
        }
        window.open(openUrl);
    });
</script>
</html>