<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>卡片打印小助手</title>
</head>
<body>

<div style="page-break-before:always;margin-top:10mm" id="main">

</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
<script th:inline="javascript">
    //<![CDATA[

    var params = [[${printerParams}]];

     function getParam(paramName) {
        return params[paramName];
    }


    var numberPerRow = getParam("numberPerRow");
    var width = Number(getParam("width"));
    var height = Number(getParam("height"));
    var times = Number(getParam("times"));
    var lineWidth = getParam("lineWidth");

    var defaultWidth = 297;
    var defaultHeight = 210;

    var imgs = [];

    imgs = [[${imgs}]];

    $(function(){
        $("#main").click(function(){
            swal("请输入要保存的打印模板名称",{
                buttons: {
                    cancel: false,
                    confirm: true
                },
                content: "input"
            }).then(function(value) {
                if(value) {
                    $.ajax({
                        url: 'save-data',
                        type: 'POST',
                        data: {
                            printKey: value,
                            imgListJsonStr: JSON.stringify(imgs)
                        },
                        dataType: "json",
                        success: function (res) {
                            swal('保存成功');
                        },
                        error: function (e) {
                            swal('保存失败');
                        }
                    });
                }
            });
        });
    });

    for (var i = 0; i < imgs.length; i++) {
        var row = Math.floor(i / numberPerRow);
        var column = i % numberPerRow;
        //反排
        if(params.reverse == "1") {
            column = numberPerRow - 1 - i% numberPerRow;
        }
        var html = '<img style="position:absolute;border:solid #BBB '+lineWidth+';' +
            'top:' + row * (height + 0.2) + 'mm;' +
            'left:' + column * (width + 0.2) + 'mm;' +
            'width:' + width + 'mm;' +
            'height:' + height + 'mm" ' +
            'src="' + imgs[i] + '"/>';

        $("#main").append(html);
    }

    //]]>
</script>
</html>