<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>首页</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        button {
            width:20rem;
            height:12rem;
            font-size:2.6rem !important;
            font-family: "Microsoft YaHei UI";
            font-weight:lighter !important;
            margin:10rem 1rem 0 1rem;
        }
    </style>
</head>
<body>
<div class="well" style="padding:2rem;text-align: center;opacity: 0.6">
    <button id="card-print" type="button" class="btn btn-primary">打印卡片</button>
</div>
</body>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

<script th:inline="javascript">
    //<![CDATA[

    $(function(){
        $("#card-print").click(function(){
            document.location = "/print/card/options";
        });
    });

    //]]>
</script>
</html>